@charset "UTF-8";@import 'https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap';
* {
    outline:none!important;
    transition:ease-out .2s;-webkit-appearance:none
}
html {
    scroll-behavior:smooth
}
body {
    font-family:poppins,sans-serif;font-size:16px;
    line-height:26px;color:#869ab8;
    -webkit-font-smoothing:antialiased;
    -moz-font-smoothing:antialiased
}
a {
    text-decoration:auto
}
#menu {
    background-color:#fff
}
#menu .menu__links .nav-item {
    align-self:center!important;
    -ms-flex-item-align:center!important
}
#menu .menu__links .nav-link {
    padding-right:16px;
    padding-left:16px
}
.menu__logotipo {
    margin-top:10px;
    margin-bottom:10px;
    padding-top:0;
    padding-bottom:0
}
.navbar {
    -webkit-box-shadow:0 0 12px rgba(0,0,0,.1);
    -moz-box-shadow:0 0 12px rgba(0,0,0,.1);
    box-shadow:0 0 12px rgba(0,0,0,.1);
    -webkit-transition:all 400ms ease-in-out;
    -moz-transition:all 400ms ease-in-out;
    -o-transition:all 400ms ease-in-out;
    -ms-transition:all 400ms ease-in-out;
    transition:all 400ms ease-in-out
}
.menuVertical {
    text-align:center;
    position:fixed;
    width:300px;
    background-color:#fff;
    height:100%;
    z-index:1040;
    padding:3rem;
    -webkit-box-shadow:0 0 5px 0 rgba(0,0,0,.35);
    -moz-box-shadow:0 0 5px 0 rgba(0,0,0,.35);
    box-shadow:0 0 5px 0 rgba(0,0,0,.35)
}
.navbar-toggler {
    position:relative;padding:10px;
    width:42px;
    margin-left:-42px;
    border:none;background:0 0!important
}
.navbar-toggler:focus {
    box-shadow:0 0 3px #053157
}
.navbar-toggler .icon-bar {
    transform:rotate(0) translate(0,0);
    transition:ease all .2s;display:block;
    width:22px;height:2px;
    border-radius:1px;
    background:#000
} 
.navbar-toggler .icon-bar+.icon-bar {
    margin-top:4px
}
.navbar-toggler .icon-bar:nth-child(2) {
    width:16px
}
.navbar-toggler:hover>.icon-bar,.navbar-toggler:focus>.icon-bar,.navbar-toggler:active>.icon-bar {
    width:22px!important
}
.navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
    transform:rotate(45deg) translate(5px,4px)
}
.navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
    opacity:0
}
.navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
    transform:rotate(-45deg) translate(4px,-4px)
}
.navbar-toggler:focus {
    box-shadow:none
}
.bloco__topo {
    font-size:18px;
    line-height:30px
}
.bloco__registros {
    font-size:16px;line-height:26px
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
    font-weight:400
}
h1,.h1 {
    font-size:30px;
    line-height:42px;
    margin-bottom:16px;
    letter-spacing:-1px
}
h3,.h3 {
    font-size:18px;
    line-height:28px;
    margin-bottom:4px
}
.h5,h5 {
    font-size:16px
}
.btn {
    font-size:16px;
    line-height:26px;
    font-weight:500;
    padding:13px 20px;
    cursor:pointer;
    box-shadow:0 0 0 rgb(22 28 45/0%);
    transition:box-shadow .25s ease,transform .25s ease
}
.btn:hover {
    transform:translate3d(0,-3px,0);
    box-shadow:0 1rem 2.5rem rgba(22,28,45,.1),0 .5rem 1rem -.75rem rgba(22,28,45,.1)!important
}
.py-5 {
    padding-top:120px!important;
    padding-bottom:120px!important
}
#banner {
    font-size:20px;
    line-height:32px
}
#banner h1 {
    font-size:48px;
    line-height:54px;
    margin-bottom:16px;
    font-weight:400
}
#banner .banner__descricao {
    margin-bottom:40px
}
#banner p:last-of-type {
    margin-bottom:0
}
#banner .swiper-button-next,#banner .swiper-button-prev {
    color:#fff
}
#banner .swiper-button-next:after,#banner .swiper-button-prev:after {
    font-size:20px
}
#banner .swiper-pagination-bullets span {
    margin-bottom:16px
}
.swiper-banner,.swiper-depoimentos,.swiper-parceiros,.swiper-equipe,.swiper-eventos,.swiper-galeria {
    margin-left:auto;
    margin-right:auto;
    position:relative;
    overflow:hidden;
    list-style:none;
    padding:0;z-index:0
}
.accordion-item {
    color:#869ab8
}
#galeria {
    overflow:hidden;
    height:auto
}
.swiper-galeria {
    width:100%;
    height:100%
}
.swiper-galeria img {
    height:100%
}
.swiper-galeria .swiper-pagination-progressbar {
    width:100%!important;
    height:4px
}
.swiper-galeria .swiper-slide {
    opacity:.7
}
.swiper-galeria .swiper-slide-active {
    opacity:1
}
.galeria__produto .galeria__produto__imagem {
    border:solid 1px #e5e5e5;
    margin-bottom:0!important;
    max-width:100%
}
#politica {
    position:fixed;
    bottom:20px;
    font-size:14px;
    line-height:21px
}
#politica b,#politica strong {
    font-weight:600
}
#politica .row {
    background-color:#fff;
    -webkit-box-shadow:0 0 12px rgba(0,0,0,.1);
    -moz-box-shadow:0 0 12px rgba(0,0,0,.1);
    box-shadow:0 0 12px rgba(0,0,0,.1);
    border-radius:10px;
    padding:20px;
    margin-right:0;
    margin-left:0
}
#modal-politica {
    font-size:14px;
    line-height:21px
}
#modal-politica .modal-content {
    border:none;
    background-color:#fff;
    -webkit-box-shadow:0 0 12px rgba(0,0,0,.1);
    -moz-box-shadow:0 0 12px rgba(0,0,0,.1);
    box-shadow:0 0 12px rgba(0,0,0,.1);
    border-radius:10px
}
#modal-politica .modal-body {
    padding:35px
}
#banner .jumbotron {
    background-position:center center;
    padding-left:15px;
    padding-right:15px
}
.bannerInterno {
    background-size:cover;
    background-position:center center;
    position:relative
}
.produto-foto {
    background-size:contain;
    background-position:center center;
    background-repeat:no-repeat;
    width:auto;
    height:150px;
    margin:30px
}
#planos .destaque {
    margin-top:0!important
}
#planos .destaque .list-group-item {
    padding:18px 1.25rem
}
.bloco__visitados .list-group-item,.bloco__recentes .list-group-item {
    padding:16px
}
.popups .modal-content,.modal-whatsapp .modal-content {
    overflow:hidden;
    border:none
}
.popups .modal-header,.modal-whatsapp .modal-header {
    border:none;
    z-index:9999
}
.popups .modal-body {
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    margin-top:-47px
}
.modal-whatsapp .modal-header {
    background-color:#00a884;
    padding:40px 40px 56px
}
.modal-whatsapp .modal-header h5 {
    color:#fff;
    text-transform:uppercase;
    font-weight:500;
    font-size:14px
}
.modal-whatsapp .btn-close {
    color:#fff
}
.modal-whatsapp .modal-content {
    background-color:#111b21
}
.modal-whatsapp .modal-body {
    background-color:#fff;
    border-radius:3px;
    box-shadow:0 17px 50px 0 rgba(11,20,26,.19),0 12px 15px 0 rgba(11,20,26,.24);
    margin:-24px 40px 32px;padding:40px 40px 20px;
    z-index:9999;
    color:#3b4a54
}
.modal-whatsapp .modal-body .btn-primary {
    background-color:#50a54d;
    border-color:#50a54d;
    color:#fff
}
.modal-whatsapp .btn-primary:hover,.modal-whatsapp .btn-primary:active,.modal-whatsapp .btn-primary:focus {
    background-color:#50a54d!important;
    border-color:#50a54d!important;
    color:#fff!important
}
.modal-whatsapp .modal__whatsapp__assinatura {
    font-size:12px;
    text-align:center;
    margin-top:16px
}
.modal-whatsapp .modal__whatsapp__assinatura a {
    color:#3b4a54;
    font-weight:600
}
.modal-whatsapp .modal__whatsapp__assinatura a:hover,.modal-whatsapp .modal__whatsapp__assinatura a:active,.modal-whatsapp .modal__whatsapp__assinatura a:focus {
    text-decoration:underline
}
#newsletter {
    padding-top:2rem!important;
    padding-bottom:2rem!important
}
#localizacao {
    padding:0!important
}
#orcamento li {
    transition:.5s
}
#orcamento .card-body {
    padding:10px
}
#orcamento .disabled {
    opacity:.5
}
#orcamento .table th {
    border-top:0
}
#orcamento #formulario_orcamento .disabled {
    display:none
}
#orcamento .orcamento__esquerda .btn-primary,#orcamento .orcamento__direita .btn-danger {
    padding:8px;
    vertical-align:middle;
    text-align:center;
    line-height:1
}
#contato p:last-child {
    margin-bottom:0
}
#contato .contato__social a:first-child {
    margin-left:0!important
}
#contato .contato__social a:last-child {
    margin-right:0!important
}
#contato .form-group,#trabalhe .form-group {
    margin-bottom:10px
}
#contato .form-control,#orcamento .form-group .form-control,#trabalhe .form-control {
    padding:13px 16px;font-size:15px
}
#contato label,#orcamento label,#trabalhe label {
    font-size:14px;
    padding-top:0
}
#copyright {
    padding-top:24px!important;
    padding-bottom:24px!important
}
.mask {
    position:absolute;
    top:0;
    overflow:hidden;
    width:100%;
    height:100%;
    background-attachment:fixed!important;
    z-index:10
}
.pattern-1 {
    background:url(../i/pattern/1.png)
}
.pattern-2 {
    background:url(../i/pattern/2.png)
}
.pattern-3 {
    background:url(../i/pattern/3.png)
}
.pattern-4 {
    background:url(../i/pattern/4.png)
}
.pattern-5 {
    background:url(../i/pattern/5.png)
}
.pattern-6 {
    background:url(../i/pattern/6.png)
}
.pattern-7 {
    background:url(../i/pattern/7.png)
}
.pattern-8 {
    background:url(../i/pattern/8.png)
}
.pattern-9 {
    background:url(../i/pattern/9.png)
}
.rgba-grey-light {
    background-color:rgba(158,158,158,.3)
}
.rgba-grey-strong { 
    background-color:rgba(158,158,158,.7)
}
.rgba-grey-slight {
    background-color:rgba(158,158,158,.1)
}
.rgba-black-light {
    background-color:rgba(0,0,0,.3)
}
.rgba-black-strong {
    background-color:rgba(0,0,0,.7)
}
.rgba-black-slight {
    background-color:rgba(0,0,0,.1)
}
.rgba-white-light {
    background-color:rgba(255,255,255,.3)
}
.rgba-white-strong {
    background-color:rgba(255,255,255,.7)
}
.rgba-white-slight {
    background-color:rgba(255,255,255,.1)
}
.zoom:hover {
    transform:scale(1.1)!important;z-index:999
}
.form-control {
    height:auto
}
.btn__share .btn-social,.btn__share .btn-social:visited,.btn__share .btn-social:focus,.btn__share .btn-social:hover,.btn__share .btn-social:active{
    color:#fff;
    text-decoration:none;
    transition:opacity .15s ease-in-out
}
.btn__share .btn-social:hover,.btn__share .btn-social:active {
    opacity:.75
}
.btn__share .btn-fb {
    background-color:#3b5998
}
.btn__share .btn-tw {
    background-color:#1da1f2
}
.btn__share .btn-in {
    background-color:#0077b5
}
.btn__share .btn-gp {
    background-color:#db4437
}
.btn__share .btn-rd {
    background-color:#ff4500
}
.btn__share .btn-wp {
    background-color:#6ea93d
}
.btn__share {
    display:flex;margin-top:32px
}
.btn__share a {
    flex-grow:1;
    margin-right:.25rem;
    font-size:15px;
    padding:5px
}
.btn__share a:last-child {
    margin-right:0
}
@media(min-width:576px) {
    #galeria .card-columns {
        -webkit-column-count:2;
        -moz-column-count:2;
        column-count:2
    }
}
@media(min-width:768px) {
    #galeria .card-columns {
        -webkit-column-count:3;
        -moz-column-count:3;
        column-count:3
    }
}
@media(min-width:992px) {
    #galeria .card-columns{
        -webkit-column-count:4;
        -moz-column-count:4;
        column-count:4
    }
} 
@media(min-width:1200px) {
    #galeria .card-columns {
        -webkit-column-count:5;
        -moz-column-count:5;
        column-count:5
    }
}
@media(min-width:1800px) {
    #galeria .card-columns {
        -webkit-column-count:6;
        -moz-column-count:6;
        column-count:6
    }
}
.galeria-div {
    padding-left:4px;
    padding-right:4px
}
.galeria-link:hover:before,.galeria-link:hover .galeria-titulo {
    opacity:1
}
.galeria-link {
    position:relative;
    display:-webkit-box;
    height:400px;
    overflow:hidden;
    margin-bottom:8px
}
.galeria-link:before {
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,.7);
    content:'';
    opacity:0;
    -webkit-transition:opacity .3s ease-in-out;
    transition:opacity .3s ease-in-out;
    box-sizing:inherit
}
.galeria-thumb {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover
}
.galeria-titulo {
    position:absolute;
    top:50%;
    z-index:1;
    width:100%;
    color:#fff;
    text-align:center;
    opacity:0;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%);
    -webkit-transition:opacity .3s ease-in-out;
    transition:opacity .3s ease-in-out
}
.galeria-titulo h3 {
    color:#fff
}
.galeria-stats {
    font-size:12px
}
.galeria-stats svg {
    opacity:.6
}
.icone-zoom:hover:before,.icone-zoom:hover:after {
    opacity:1
}
.icone-zoom:before {
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,.7);
    content:'';
    opacity:0;
    -webkit-transition:opacity .3s ease-in-out;
    transition:opacity .3s ease-in-out;
    box-sizing:inherit
}
.icone-zoom:after {
    position:absolute;
    top:50%;
    left:50%;
    z-index:1;
    display:block;
    width:28px;
    height:28px;
    background-image:url(../i/icons/zoom.png);
    background-repeat:no-repeat;
    background-size:100%;
    content:'';
    opacity:0;
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
    -webkit-transition:opacity .3s ease-in-out;
    transition:opacity .3s ease-in-out;
    box-sizing:inherit
}
.icone-zoom:hover {
    opacity:1
}
.btn__orcamento {
    border:none;
    color:#fff;
    position:fixed;
    bottom:132px;
    right:20px;
    padding:10px;
    width:46px;
    height:46px;
    border-radius:8px;
    font-size:22px;
    font-weight:400;
    transition:.2s;
    z-index:999
}
.btn__orcamento:hover,.btn__orcamento:active,.btn__orcamento:focus {
    transform:translateY(-2px);
    transition:.2s
}
#btn-whatsapp {
    border:none;
    background-color:#25d366;
    color:#fff;
    position:fixed;
    bottom:20px;
    right:20px;
    width:46px;
    height:46px;
    border-radius:8px;
    font-size:22px;
    font-weight:400;
    transition:.2s;
    z-index:1030
}
#btn-whatsapp:hover,#btn-whatsapp:active,#btn-whatsapp:focus{transform:translateY(-2px);transition:.2s;background-color:#25d366!important}#btn-whatsapp:before{content:"";position:absolute;top:0;left:0;width:50%;height:100%;background:rgba(0,0,0,.1);border-radius:8px 0 0 8px}#toTop{border:none;display:none;position:fixed;bottom:76px;right:20px;width:46px;height:46px;border-radius:8px;font-size:24px;transition:.2s;z-index:1030}#toTop:hover{transform:translateY(-2px);transition:.2s}#toTop:before{content:"";position:absolute;top:0;left:0;width:50%;height:100%;background:rgba(0,0,0,.1);border-radius:8px 0 0 8px}@media(max-width:767.98px){#menu .container{padding-left:24px;padding-right:24px}#menu .navbar-collapse{text-align:center}#menu .navbar-collapse ul:first-of-type{padding-top:20px}#menu .navbar-collapse ul:last-of-type{padding-bottom:20px}#menu .menu__social,#menu .menu__idiomas{flex-direction:row;width:100%;display:-ms-flexbox!important;display:flex!important;-ms-flex-pack:center!important;justify-content:center!important;margin-top:15px;margin-bottom:10px}.menu__social .nav-item,.menu__idiomas .nav-item{margin-left:10px;margin-right:10px}.menu__social .nav-item:first-child,.menu__idiomas .nav-item:first-child{margin-left:0}.menu__social .nav-item:last-child,.menu__idiomas .nav-item:last-child{margin-right:0}#banner .swiper-button-next,#banner .swiper-button-prev{display:none}.py-5{padding-top:50px!important;padding-bottom:50px!important}}#cd-vertical-nav{line-height:1}#cd-vertical-nav ol,#cd-vertical-nav ul{list-style:none}.cd-img-replace{display:inline-block;overflow:hidden;text-indent:100%;white-space:nowrap}.cd-nav-trigger{display:none}.no-touch #cd-vertical-nav{position:fixed;right:40px;top:50%;bottom:auto;-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%);transform:translateY(-50%);z-index:1}.no-touch #cd-vertical-nav li{text-align:right}.no-touch #cd-vertical-nav a{display:inline-block;-webkit-backface-visibility:hidden;backface-visibility:hidden}.no-touch #cd-vertical-nav a:after{content:"";display:table;clear:both}.no-touch #cd-vertical-nav a span{float:right;display:inline-block;-webkit-transform:scale(.6);-moz-transform:scale(.6);-ms-transform:scale(.6);-o-transform:scale(.6);transform:scale(.6);opacity:1}.no-touch #cd-vertical-nav a:hover span{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1)}.no-touch #cd-vertical-nav a:hover .cd-label{opacity:1}.no-touch #cd-vertical-nav a.is-selected .cd-dot{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1)}.no-touch #cd-vertical-nav .cd-dot{position:relative;top:8px;height:14px;width:14px;border-radius:50%;background-color:#343a40;-webkit-transition:-webkit-transform .2s,background-color .5s;-moz-transition:-moz-transform .2s,background-color .5s;transition:transform .2s,background-color .5s;-webkit-transform-origin:50% 50%;-moz-transform-origin:50% 50%;-ms-transform-origin:50% 50%;-o-transform-origin:50% 50%;transform-origin:50% 50%}.no-touch #cd-vertical-nav .cd-label{position:relative;margin-right:0;padding:.4em .5em;color:#343a40;font-size:14px;font-size:.875rem;-webkit-transition:-webkit-transform .2s,opacity .2s;-moz-transition:-moz-transform .2s,opacity .2s;transition:transform .2s,opacity .2s;opacity:0;-webkit-transform-origin:100% 50%;-moz-transform-origin:100% 50%;-ms-transform-origin:100% 50%;-o-transform-origin:100% 50%;transform-origin:100% 50%}.touch .cd-nav-trigger{display:block;z-index:2;position:fixed;bottom:30px;right:5%;height:44px;width:44px;border-radius:.25em;background:rgba(255,255,255,.9)}.touch .cd-nav-trigger span{position:absolute;height:4px;width:4px;background-color:#3e3947;border-radius:50%;left:50%;top:50%;bottom:auto;right:auto;-webkit-transform:translateX(-50%) translateY(-50%);-moz-transform:translateX(-50%) translateY(-50%);-ms-transform:translateX(-50%) translateY(-50%);-o-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%)}.touch .cd-nav-trigger span::before,.touch .cd-nav-trigger span::after{content:'';height:100%;width:100%;position:absolute;left:0;background-color:inherit;border-radius:inherit}.touch .cd-nav-trigger span::before{top:-9px}.touch .cd-nav-trigger span::after{bottom:-9px}.touch #cd-vertical-nav{position:fixed;z-index:1;right:5%;bottom:30px;width:90%;max-width:400px;max-height:90%;overflow-y:scroll;-webkit-overflow-scrolling:touch;-webkit-transform-origin:right bottom;-moz-transform-origin:right bottom;-ms-transform-origin:right bottom;-o-transform-origin:right bottom;transform-origin:right bottom;-webkit-transform:scale(0);-moz-transform:scale(0);-ms-transform:scale(0);-o-transform:scale(0);transform:scale(0);-webkit-transition-property:-webkit-transform;-moz-transition-property:-moz-transform;transition-property:transform;-webkit-transition-duration:.2s;-moz-transition-duration:.2s;transition-duration:.2s;border-radius:.25em;background-color:rgba(255,255,255,.9)}.touch #cd-vertical-nav a{display:block;padding:1em;border-bottom:1px solid rgba(62,57,71,.1)}.touch #cd-vertical-nav a span:first-child{display:none}.touch #cd-vertical-nav a.is-selected span:last-child{color:#343a40}.touch #cd-vertical-nav.open{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1)}.touch #cd-vertical-nav.open+.cd-nav-trigger{background-color:transparent}.touch #cd-vertical-nav.open+.cd-nav-trigger span{background-color:transparent}.touch #cd-vertical-nav.open+.cd-nav-trigger span::before,.touch #cd-vertical-nav.open+.cd-nav-trigger span::after{background-color:#3e3947;height:3px;width:20px;border-radius:0;left:-8px}.touch #cd-vertical-nav.open+.cd-nav-trigger span::before{-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);top:1px}.touch #cd-vertical-nav.open+.cd-nav-trigger span::after{-webkit-transform:rotate(135deg);-moz-transform:rotate(135deg);-ms-transform:rotate(135deg);-o-transform:rotate(135deg);transform:rotate(135deg);bottom:0}.touch #cd-vertical-nav li:last-child a{border-bottom:none}@media only screen and (min-width:768px){.touch .cd-nav-trigger,.touch #cd-vertical-nav{bottom:40px}}@media(max-width:767.98px){a{text-decoration:none}h1,.h1{font-size:24px;line-height:36px}#banner{font-size:18px;line-height:30px}#banner h1{font-size:36px;line-height:42px}}